*{
    margin: 0;
    background-color: #1a1c1f;
    color: white;
    font-family: 'GG Sans', sans-serif;
}

/* SCROLL BAR */

::-webkit-scrollbar {
    overflow-x: hidden;
    width: 5px;
}


::-webkit-scrollbar-track {
    overflow-x: hidden;
    background-color: #151515;
}


::-webkit-scrollbar-thumb {
    overflow-x: hidden;
    background: #A5D7E8; 
}

/*LOADIING SCREEN*/

#website-loading{
    z-index: 15;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #1a1c1f;
    display: flex;
    justify-content: center;
    align-items: center;
}

#website-loading-balls{
    background-color: #1a1c1f;
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
}

#website-loading-balls-ball{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: #A5D7E8;
    margin: 1rem;
}

#website-loading-balls-ball:nth-child(1) {
    animation: ball-animation .5s ease infinite alternate;
}
#website-loading-balls-ball:nth-child(2) {
    animation: ball-animation .5s .2s ease infinite alternate;
}
#website-loading-balls-ball:nth-child(3) {
    animation: ball-animation .5s .3s ease infinite alternate;
}

@keyframes ball-animation {
    fron {
        transform: translateY(3rem);
    }
    to {
        transform: translateY(-3rem);
    }
    
}

/*DESKTOP*/
#website-bar{
    z-index: 5;
    position: fixed;
    margin: auto;
    align-items: center;
    background-color: #1a1c1f;
    width: 100%;
    height: 60px;
}

#website-bar-mainbar{
    margin: right;
    background-color: #1a1c1f;
    align-items: center;
    width: 80%;
    height: 60px;
}

#website-bar-mainbar-logo{
    background-color: #1a1c1f;  
    border: none;
    display: flex;
}

#website-bar-mainbar-links{
    display: flex;
    background-color: #1a1c1f;     
    position: relative;
    left: 1000px;
}

#website-bar-mainbar-links-icon{
    padding-left: 45px;    
    background-color: #1a1c1f;  
    display: flex;
    position: relative;
    bottom: 50px;
}

#website-bar-mainbar-links-icon-svg:hover{
    transition-duration: 0.1s;
    height: 3em;
    width: 3em;
}

#website-bar-mainbar-links-icon-svg{
    background-color: #1a1c1f;  
    border: none;
}

#website-banner{
    text-align: center;
    width: 100%;
    height: 60%;
}

#website-banner-photologo{
    z-index: 0;
    position: relative;
    top: 75px;
    border-radius: 100%;
}

#website-banner-title{
    color: #A5D7E8;
    font-size: 60px;
    align-items: center;
    background: none;
    position: relative;
    top: 75px;
}
#website-banner-text{
    font-size: 30px;
    align-items: center;
    background: none;
    position: relative;
    top: 100px;
}

#website-banner-discordprofile{
    width: 410px;
    height: 250px;
    border: none;
    position: relative;
    top: 130px;
}

#website-project{
    position: relative;
    top: 150px;
    height: 400px;
    width: 80%;
    align-items: center;
    text-align: center;
    margin: auto;
    background: none;
}

#website-project-title{
    color: #A5D7E8;
    font-size: 60px;
}

#website-project-list{
    background: none;
    width: 100%;
    height: 450px;
    padding: 5px;
    grid: auto auto / auto auto;
    grid-template-columns: auto auto / auto auto;
    display: grid;
    align-items: center;
    margin: auto;
}

#website-project-list-projects{
    margin: auto;
    padding: 25px;
    text-decoration: none;
    text-align: center;
    width: 450px;
    height: 150px;
    border-left-color: #A5D7E8;
    border-left-style: solid;
    border-left: 5cm;
}

#website-footer{
    margin: auto;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: 0%;
    top: 225%;
    width: 100%;
    height: 60px;
    background: #0f0f11;
}

#website-footer-text{
    font-family: 'Fira Code', monospace;
    position: relative;
    top: 15px;
    font-size: 25px;
    color: #202226;
    background-color: #0f0f11;
}
